:root {
    --size: 140px;
    --speed: 5s;
  }
  
  body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ecf0f1;
  }
  
  .loader {
    width: var(--size);
    height: var(--size);
  }
  
  .loader__inner {
    position: absolute;
    display: block;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    box-shadow: 
      0 -10px 0 0 rgba(0,77,64, .6),
      -7.5px 5px 0 0 rgba(0,121,107, .6),
      7.5px 5px 0 0 rgba(0,150,136, .6);
    animation: rotate var(--speed) linear infinite;
  }
  